
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("BLL/DAL create helper", "BllDal", "SmallUtils")</li>
    <li>@Html.ActionLink("Remove duplicates in CSV", "RemoveDups", "SmallUtils")</li>
    <li>@Html.ActionLink("Count IPs in Apache logs", "CountUniqueLogs", "SmallUtils")</li>
    
</ul>
