
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Parse", "Resource", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.Label("Choose resource files")<br />
        @for (int i = 0; i < 5; i++)
        {
            <input type="file" name="ResFile_@i" /><br />
        }
    </div>

    <input type="submit" class="btn btn-primary btn-sm" value="Upload..." />

}
